@import "fonts"
@import "libs"
@import "vars"
@import "./_mixins/_background-icon"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #B7B7B7
	opacity: 1

*:-moz-placeholder
	color: #B7B7B7
	opacity: 1

*::-moz-placeholder
	color: #B7B7B7
	opacity: 1

*:-ms-input-placeholder
	color: #B7B7B7
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #B7B7B7

body input:required:valid,
body textarea:required:valid
	color: #B7B7B7

html, body
	height: 100%
	font-size: 14px
	line-height: 1.65
body
	display: flex
	flex-direction: column
	height: 100%
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden
	padding: 0
	margin: 0

p, a
	margin: 0
	padding: 0

.h1
	font-size: 3.42rem
	Line-height: 4rem
	font-family: OpenSans-Bold
	@media only screen and (max-width : 1190px)
		font-size: 4vw
		Line-height: 5vw
	@media only screen and (max-width : $md)
		font-size: 5vw
		Line-height: 9vw
	@media only screen and (max-width : $sm)
		font-size: 7.5vw
		Line-height: 9vw

.h2
	font: 1.71rem/2.3rem OpenSans-Bold

.h4
	font-size: 1vw
	Line-height: 1vw
	font-family: OpenSans-Bold
	@media only screen and (max-width : $md)
		font-size: 4vw
		Line-height: 4vw

.img-responsive
	display: block
	max-width: 100%
	height: auto

.img-rotate
	@media only screen and (max-width : $lg)
		transform: rotate(-21deg)
		margin-top: 3rem

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

// form elements
.formInput
	border-radius: 8px
	height: 3.64rem
	width: 100%
	padding: .5rem 2rem
	outline: none
	border: 1px solid #B7B7B7
	font: 1rem/1.2rem $default-font

// icons
.icon
	width: 24px
	height: auto

.imgPlacemark
	+background-icon('../img/placemark.svg', no-repeat, center, contain)

.imgPhone
	+background-icon('../img/phone.svg', no-repeat, center, contain)

.imgInstagram
	+background-icon('../img/insta.svg', no-repeat, center, contain)

.imgTwitter
	+background-icon('../img/twiter.svg', no-repeat, center, contain)

.imgFacebook
	+background-icon('../img/face.svg', no-repeat, center, contain)

//buttons
.btnMnu
	top: 0px
	width: auto
	height: auto
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	cursor: pointer
	position: relative

.btnRow
	height: 3px
	width: 21px
	margin: 2px 0
	background-color: #000
	position: relative
	-webkit-transition: all .5s
	-o-transition: all .5s
	transition: all .5s

.btnMnu.active .btnRow
	&:first-child
		-webkit-transform: rotate(-135deg)
		-ms-transform: rotate(-135deg)
		-o-transform: rotate(-135deg)
		transform: rotate(-135deg)
		top: 8px
	&:last-child
		-webkit-transform: rotate(-225deg)
		-ms-transform: rotate(-225deg)
		-o-transform: rotate(-225deg)
		transform: rotate(-225deg)
		top: -6px
	&:nth-child(2)
		opacity: 0

.btn
	border: none
	font: 1rem/1.6rem OpenSans-Bold
	padding: 1rem 2rem
	cursor: pointer
	&.primary
		color: #fff
		background-color: $accent
		&:hover
			background-color: lighten($accent, 10%)
		&.secondaryColor
			background-color: $secondary
			color: $accent
			&:hover
				background-color: lighten($secondary, 10%)
	&.secondary
		color: #000
		background-color: $secondary
		font: 1.3rem/1.86rem OpenSans-Bold
		padding: 2rem 3.6rem
		&:hover
			background-color: lighten($secondary, 10%)


.main-content
	/* 1 flex-grow, 0 flex-shrink, auto flex-basis */
	flex: 1 0 auto
	max-width: $container-widths
	margin: 0 auto
	width: 100%
	padding:
		left: 15px
		right: 15px

.container
	max-width: $container-widths
	width: 100%
	margin: 0 auto

.headerWrap
	display: flex
	justify-content: center
	flex-direction: row
	border-bottom: 3px solid #FFC700

	@media only screen and (max-width : $lg)
		border-bottom: none
	.header
		display: flex
		justify-content: space-between
		flex-direction: row
		align-items: center
		height: 5.7rem
		padding:
			left: 15px
			right: 15px
		@media only screen and (max-width : $lg)
			height: 4rem
		> *
			display: flex
			flex-basis: 300px
		.logo
			@media only screen and (max-width : $lg)
				flex-shrink: 1
		.address
			justify-content: center
			@media only screen and (max-width : $lg)
				display: none
			.imgPlacemark
				margin-right: 1.3rem
			.place
				p
					font: 1rem/1.4rem $default-font
					color: #000
					font-weight: normal
		.listPhoneNumbers
			@media only screen and (max-width : $lg)
				display: none
			justify-content: center
			.imgPhone
				margin-right: 1.3rem
			.phones
				display: flex
				flex-direction: column
				a
					font: 1rem/1.4rem $default-font
					text-decoration: none
					color: #000
		.callback
			@media only screen and (max-width : $lg)
				display: none
			justify-content: end
			flex-shrink: 2
		.menu
			justify-content: end
			@media only screen and (max-width : $lg)
				display: flex
			@media only screen and (min-width : $lg)
				display: none

.banner
	display: flex
	background-color: $accent
	justify-content: center
	align-items: center
	height: auto
	padding: 4.65rem
		left: 0
		right: 0
		bottom: 4.8rem
	@media only screen and (max-width : $lg)
		padding: 1.5rem 0 0
	.bannerContent
		display: flex
		justify-content: space-between
		color: #fff
		> *
			flex: 1 1 auto
		@media only screen and (max-width : $lg)
			flex-wrap: wrap
		.bannerLeftAside
			width: 50%
			margin:
				left: 10px
				//right: 15px

			.bannerTitle
				margin-bottom: 2.70rem
			.bannerDescription
				margin-bottom: 2.55rem
				p
					font: 1rem/1.4rem $default-font
			.bannerCallback
				@media only screen and (max-width : $md)
					button
						padding: 1rem 2rem
			@media only screen and (max-width : $lg)
				.bannerTitle, .bannerDescription
					margin-bottom: 2.14rem
		.bannerRightAside
			overflow: hidden
			width: 50%
			display: flex
			justify-content: center


// help class for reversal of banner sections
.revert
	.bannerLeftAside
		order: 2
	.bannerRightAside
		order: 1
	@media only screen and (max-width : $lg)
		.bannerLeftAside
			order: 1
		.bannerRightAside
			order: 2

.advantage
	margin-top: 2.95rem
	@media only screen and (max-width : $md)
		margin-top: 1rem
	.advantageList
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-content: space-between
		.advantageItem
			margin:
				top: 2.85rem
				bottom: 2.85rem
			padding: 1.1rem
				bottom: 1.8rem
			width: 31.7%
			height: auto
			box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2)
			@media only screen and (max-width : $lg)
				width: 48.8%
				margin:
					top: .8rem
					bottom: .8rem
			@media only screen and (max-width : $md)
				width: 100%
			.advantageItemTitle
				display: flex
				justify-content: space-around
				align-items: center
				margin-bottom: .4rem
				.itemIcon
					margin-right: auto
					@media only screen and (max-width : 420px)
						img
							width: 2.4rem
				.itemTitle
					width: 100%
					text-align: center
					p
						font: 1.2rem/1.4rem OpenSans-Bold
						color: $accent
			.advantageItemDescription
				p
					text-align: center
					font: .85rem/1.16rem $default-font
					color: #000

.promotions
	.promotionsTitle
		margin:
			top: 3rem
			bottom: 4.5rem
		@media only screen and (max-width : $lg)
			margin:
				top: 2rem
				bottom: 2rem
		@media only screen and (max-width : $md)
			margin:
				top: 1rem
				bottom: 1.2rem
		.h1
			color: $accent
			@media only screen and (max-width : $md)
				color: #000
	.promotionsList
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-content: space-between
		.promotionsItem
			display: flex
			flex-direction: row
			justify-content: space-between
			padding: 2.7rem
				left: 2.2rem
				right: 0
				bottom: 0
			margin:
				top: 1.3rem
				bottom: 1.3rem
			width: 48.8%
			height: auto
			box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2)
			@media only screen and (max-width : $lg)
				padding: 2rem
					bottom: 1rem
				margin:
					top: 1.2%
					bottom: 1.2%
			@media only screen and (max-width : 830px)
				padding: 1.1rem
			@media only screen and (max-width : 694px)
				width: 100%
				margin:
					top: .8rem
					bottom: .8rem
			.promotionsItemContent
				display: flex
				flex-direction: column
				justify-content: space-between
				padding-bottom: 2.8rem
				margin-right: 3rem
				flex-shrink: 0
				@media only screen and (max-width : $lg)
					margin-right: 0
					padding: 0
					width: 100%
				@media only screen and (max-width : 694px)
					align-items: center
				@media only screen and (max-width : 494px)
					align-items: flex-start
				.promotionsItemTitle
					@media only screen and (max-width : 1086px)
						margin:
							top: 1.8rem
							bottom: 2rem
				.promotionsItemCallback
					display: flex
					justify-content: space-between
					align-items: center
					button
						padding: 1.2rem 3.5rem
						line-height: 1.6rem
						@media only screen and (max-width : 830px)
							padding: 1.2rem 2.5rem
						@media only screen and (max-width : 384px)
							padding: 1rem 1.2rem
					@media only screen and (max-width : 694px)
						margin-left: 1.4rem
					@media only screen and (max-width : 494px)
						margin-left: 0
						width: 100%
					.promotionsMobileImage
						@media only screen and (min-width :  993px)
							display: none
						@media only screen and (max-width : 694px)
							margin-left: 3rem
						@media only screen and (max-width : 494px)
							margin-left: 0
			.promotionsItemImage
				flex-shrink: 4
				align-self: end
				@media only screen and (max-width : $lg)
					display: none

.service
	margin-bottom: 5.7rem
	@media only screen and (max-width : $md)
		margin-bottom: 1.4rem
	.serviceTitle
		margin-top: 3.5rem
		margin-bottom: 3.7rem
		@media only screen and (max-width : $md)
			margin:
				top: 1rem
				bottom: 1.5rem
		.h1
			color: $accent
			@media only screen and (max-width : $md)
				color: #000
	.serviceList
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: space-between
		.serviceItem
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			padding: 1.4rem 2.6rem
			box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2)
			width: 23.2%
			@media only screen and (max-width : $lg)
				width: 48.8%
				margin:
					top: .8rem
					bottom: .8rem
			@media only screen and (max-width : $md)
				width: 100%
			.serviceContent
				display: flex
				align-items: center
				flex-direction: column
				.serviceImage
					img
						display: block
				.serviceName
					padding: 1rem
					p
						text-align: center
						font: 1.2rem/1.7rem OpenSans-Bold
			.serviceSubscribe
				width: 100%
				button
					width: 100%

.contacts
	display: flex
	justify-content: space-between
	padding:
		top: 6.14rem
		bottom: 5.57rem
	margin:
		right: 15px
		left: 15px
	@media only screen and (max-width : $lg)
		flex-wrap: wrap
		padding-top: 1rem
		padding-bottom: 0
		margin: 0
.contactBlock
	min-width: 27.5%
	padding: 2.2rem
		top: 0.8rem
		bottom: 1.5rem
	display: flex
	flex-direction: column
	align-items: flex-start
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2)
	@media only screen and (max-width : $lg)
		padding-bottom: 3.5rem
		.contactBlockTitle
			align-self: center
	@media only screen and (max-width : $lg)
		width: 100%
		box-shadow: none
	.contactsWrap
		display: flex
		flex-direction: column
		align-items: flex-start
		@media only screen and (max-width : $lg)
			margin: 0 auto
		> *
			display: flex
		.address
			margin:
				top: 1.5rem
				bottom: 2.4rem
			justify-content: center
			.imgPlacemark
				margin-right: 1.3rem
			.place
				p
					font: 1rem/1.4rem $default-font
					color: #000
					font-weight: normal
		.listPhoneNumbers
			justify-content: center
			.imgPhone
				margin-right: 1.3rem
			.phones
				display: flex
				flex-direction: column
				a
					font: 1rem/1.4rem $default-font
					text-decoration: none
					color: #000

.map
	width: 70%
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2)
	@media only screen and (max-width : $lg)
		width: 100%
		height: 20rem


.footer
	background-color: $accent
	height: 32.85rem
	display: flex
	align-items: center
	flex-direction: column
	justify-content: space-between
	padding-top: 2.8rem
	padding-bottom: 3rem
.links
	margin:
		left: 15px
		right: 15px
	@media only screen and (max-width : $lg)
		display: none
	ul
		padding: 0
		margin: 0
		display: flex
		align-items: stretch
		justify-content: space-between
		width: 100%
		li
			display: block
			flex: 0 1 auto
			list-style-type: none
			a
				color: #fff
				text-decoration: none
				font: 1.2rem/1.8rem OpenSans-Bold
				&:hover
					text-decoration: underline

.subscribeForm
	margin:
		left: 15px
		right: 15px
	form
		display: flex
		justify-content: center
		flex-wrap: wrap
		.formInput
			width: 24rem
			margin-right: 1.6rem
			@media only screen and (max-width : 585px)
				margin-right: 0
				width: 100%
				margin-bottom: 2rem
		button
			padding: 14px 50px


.social
	display: flex
	> *
		margin: 0 1rem
	.icon
		width: 40px
		height: 41px

.privacy
	p
		color: #898989


.mobileMenu
	display: none
	width: 100%
	position: fixed
	right: 0
	left: 0
	bottom: 0
	top: 0
	background-color: #fff
	z-index: 9999
	padding: 0px 20px
	text-align: center
	&.active
		display: block
	ul
		padding: 0
		margin: 0
		li
			list-style: none
			margin: 15px 0
			a
				font: 1.2rem/1.4rem OpenSans-Bold
				text-decoration: none
				color: #000
	.mobileMenuHeader
		display: flex
		justify-content: flex-end
		padding: 20px 0px
		.closeMobileMenu
			font-size: 2rem
			line-height: 1rem



